
        <html>
            <head>
                <style>
                   p{
                     color:grey;
                     
                   }
                   table{
                       color:darkslategray;
                       border-collapse: collapse;
                   }
                   table,td,tr{border: 1px solid grey;}
                   
               </style>
            </head>
                <body>
                    <p>Respected Sir/Ma'am,</p>
                    <p>Your Visit Details:</p>
                    <table>
                    <tr><td><strong>Name</strong></td> <td><%=name%></td></tr>
                    <tr><td><strong>Phone no</strong></td> <td><%=phone%></td></tr>
                    <tr><td><strong>Check-in date</strong></td> <td><%=check_in_date%></td></tr>
                    <tr><td><strong>Check-in time</strong></td> <td><%=check_in_time%></td></tr>
                    <tr><td><strong>Check-out date</strong></td> <td><%=check_out_date%></td></tr>
                    <tr><td><strong>check-out time</strong></td> <td><%=check_out_time%></td></tr>
                    <tr><td><strong>Host name</strong></td><td><%=hostname%></td></tr>
                    </table>
                    <p>Hope to See You again.</p>
                    <p>Thank You.</p>
                    
                </body>
            </html>